.topBar {
    position: fixed;
    width: 100%;
    background-color: white;
  .searchInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  .sortSelect {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
  }
}

.repos {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
